@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #202A44;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav img{
    width: 100px;
    cursor: pointer;
}

nav .navigation ul{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    transition: 0.3s ease;
}

nav .navigation ul li a.active,

nav .navigation ul li a:hover{
    color: yellow;
}

/* home */
#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/BI_OFFICE_Gavett-HERO.jpg") ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: white;
    font-size: 2rem;
    font-family: "poppins", sans-serif;
    letter-spacing: 1px;
}

#home p{
    width: 50%;
    color: white;
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
    line-height: 30px;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600px;
    border-radius: 5px;
    font-family: "poppins", sans-serif;
    color: white;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a:hover{
    color: rgb(21, 21, 100);
    background-color: white;
}

/* features */

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features h1{
    font-size: 3rem;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}

#features p{
    font-size: 1.2rem;
    padding-top: 5px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
       background-color: white;
       text-align: center;
}

#features .fea-box{
    font-size: 2.3rem;
    color: rgb(44, 44, 50);
    background-color: #202A44;
    box-shadow: 3px;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
    padding-top: 10px;
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    color: white;
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    color: white;
    padding: 3px;
}

/* products */

section#products {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-family: "poppins", sans-serif;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Grid Styles */
.product-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Product Card Styles */
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.heading {
    padding: 10px 15px;
    font-family: "poppins", sans-serif;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.heading h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.details {
    padding: 15px;
}

.details p {
    margin: 0;
    color: #555;
    font-family: "poppins", sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

/* registration */

#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)), url(/images/registration-bg.webp);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder{
    color: white;
}

#registration .reminder h1{
    color: white;
    font-family: "poppins", sans-serif;
}

#registration .reminder p{
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
}

#registration .form{
    background-color: white;
    font-family: "poppins", sans-serif;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}

#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    font-family: "poppins", sans-serif;
    border: 1px solid rgb(84, 40,241); 
    outline: none;
}

#registration .form button.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    border-radius: 5px;
    color: white;
    background:  rgb(21, 21, 100);
    transition: 0.3s ease;
    /* margin-top: 20px; */
}

#registration .form button.yellow:hover{
    color: rgb(21, 21, 100);
    background-color: white;
}

/* features */

#test{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    margin-bottom: 30px;
}

#test h1{
    font-size: 3rem;
    font-family: "poppins", sans-serif;
}

.test-para{
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
}

#test .feature-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,2fr);
    row-gap: 70px;
    column-gap: 70px;
    margin-top: 60px;
}

#test .feature-box .profile{
    padding: 30px 10px;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5));
    border-radius: 40px;
}

.profile i{
    margin: 20px;
    font-size: 2rem;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 50px;
}

.profile h6{
    font-size: 1.9rem;
    font-family: "poppins", sans-serif;
}

.profile p{
    margin-top: 5px;
    font-size: 1rem;
    font-family: "poppins", sans-serif;
}

/* about-home */

#about-home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/back-img-about.jpeg") ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family: "poppins", sans-serif;
}
#about-home p{
    color: white;
    font-family: "poppins", sans-serif;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 1.5rem;
}

/* about container */

#about-container .about-img img{
    /* margin-top: 10px; */
    width: 40vw;
    height: 50%;
}

#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
    font-family: "poppins", sans-serif;
}

#about-container .about-text{
    width: 40%;
    padding: 60px;
}

#about-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
    font-size: 1.7rem;
}

#about-container .about-text p{
    color: #686F7A;
    font-weight: 300;
    font-size: 1rem;
}

#about-container .about-text .about-fea{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

#about-container .about-text .about-fea img{
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
}

#about-container .about-text .about-fea .text-fea{
    width: 90%;

}

#about-container .about-text .about-fea .text-fea h5{
    font-size: 1.5rem;
}

#about-container .about-text .about-fea .text-fea p{
    font-size: 1rem;
}

/* product-variant */

#product-variant {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "poppins", sans-serif;
}

#product-variant h1{
    color: 29303B;
    font-size: 2rem;
}

#product-variant p{
    color: 29303B;
    font-size: 1rem;
}
.var-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px; /* Adjust spacing between items as needed */
}

.var-img > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.var-img img {
    max-width: 100px; /* Adjust the width as needed */
    height: auto;
}

.var-img h4 {
    /* width: 5px; */
    text-align: center;
    font-size: 1rem;
     color: #29303B;
    margin-top: 10px; /* Adjust spacing between image and heading */
}

/* product-inner-ads */



#product-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4vw;
}

#product-inner .overview h2{
    text-align: center;
    margin-bottom: 30px;
}

#product-inner .overview{
    width: 70%;
    margin-top: 20px;
}

#product-inner .overview .pro-img{
width: 100%;
height: 70vh;
object-fit: cover;
}

#product-inner .overview .product-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}











